.home-container{
    display:flex;
    .home-content{
        width: 100%;
        height: 400px;
    }
}
.home-thumbnail{
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.home-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    position: relative;
    & > *:not(div) {
        padding: 7px 0;
    }
    & > h3 {
        color: $grey;
    }
    .home-thumbnail{
        margin-bottom: 30px;
        margin-top: 5px;
        width: 100%;
        height: 250px;
        background-color: tomato;
    }
}

.option__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}