.empty__message {
    background-color: $lightNavy;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.video-grid {
    display: grid;
    gap: 20px;
    padding: 30px 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.auth-switch {
    text-align: center;
    margin-top: 40px;
    a {
        text-decoration: underline;
    }
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.box-shadow{
    box-shadow: 5px 5px 10px $grey;
}

.hover-scale{
    transition: .1s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.05);
        opacity: 0.8;
    }
}

.title{
    display:block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.hide{
    display: none !important;
}

.inactive{
    filter: saturate(20%);
}


.center-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center{
    display: block;
    width:inherit;
    text-align: center;
}

.screen{
    height: fit-content;
    min-height: 100vh;
}

.a-highlight{
    color: $navy;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}