extend base

block content 
    div.screen
        h1.title Our mission!
        img(src="/img/nft-plan.png", style="width:100%;" id="nft-draft")
        label(for="nft-draft", style="margin-bottom: 20px;").text-center
            p Image. Outline for NFT crowd artwork
            small Thousands of photos will be inserted into the dashed area.
        span.text-center Hellou people! 👋
        p(style="width:100%; margin-bottom: 10vh;").
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hi I'm Yeonny, the creator of this website! <br>
            Ever since I was a small kid, I've wanted to leave a mark on the world and still have been focusing on which value I can bring to the world! <br>
            After thinking of this and that, I get to think about moving the offline photo booth to online which has been so popular these days in Korea! <br>
            And I later focused on NFT which I believe has a meaning of protecting the copyright of intangible online assets.<br>
            Looking at NFT artwork that has been priced slightly out of the market's law of supply and demand, I started thinking that I want to make a meaningful piece of work, the crowd artwork!<br>
            If the NFT artwork is created by several, hundreds, and thousands of people containing happy moments of them, I believe it could be a valuable work of art! <br>
            At the time of writing this page, there are none of the users yet, and just let my imagination run away. However, if the project succeeds in the future, I would like to donate all the proceeds (except for the operation/maintenance costs only) from its sale! The spending will be open and transparent to anyone. 😎