extends base

block content
    h1.title Login
    form(method="POST")
        input(placeholder="Email", name="email", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="Login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="/join") 
            span Create one now &rarr;