footer 
    br
    span Contact & Issue report to: kkjuyeon@gmail.com
    br
    span Come visit &nbsp;
        a(href="https://yeonny0723.github.io/my-portfolio/").a-highlight my portfolio
    br
    span &copy;  #{new Date().getFullYear()} #{siteName} 