<div class="frame-container capture_area">
    <div class="frame-title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161 49">
          <text id="Film-_emories" data-name="Film-emories" fill="#fff" font-size="20" font-family="MuktaMahee-ExtraBold, Mukta Mahee" font-weight="800" letter-spacing="0.06em"><tspan x="0" y="23">Film-</tspan><tspan x="0" y="38">emories</tspan></text>
        </svg>
    </div>
    <div class="frame1 frame-img"></div>
    <div class="frame2 frame-img"></div>
    <div class="frame3 frame-img"></div>
    <div class="frame4 frame-img"></div>
</div>
