extends ../base
include ../mixins/video


block content
    h1.title My Profile
    div.profile__data
        if !user.avatarUrl
            h3 😀
        else
            if isHeroku 
                img.header__avatar(src=user.avatarUrl, crossorigin).avatar
            else 
                img.header__avatar(src="/"+user.avatarUrl, crossorigin).avatar
        h3=user.name
        span film-emories.com/#{user.username}
        if "/users/" + loggedInUser._id === current_url
            div.copy-btn.action-btn
                h4 Copy your profile link!
            div(style="display:flex;justify-content:space-around;width:40%;")
                a(href="/users/edit")
                    span 
                        i.far.fa-edit
                    span Edit profile
                a(href="/users/logout")
                    span Logout
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No photos found

block scripts
    script(src="/static/js/profile.js")